@model InterimKantoor.ViewModels.ErrorShowViewModel
@{
	ViewData["Title"] = "Vacature - Index";
}
<h2>@Model.Error</h2>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Terug naar de startpagina</a>