@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
     <p>
        <a asp-action="Index" asp-controller="Product" class="btn btn-primary"> Product</a>
    </p>
    <p>
        <a asp-action="Index" asp-controller="Klant" class="btn btn-primary"> Klant</a>
    </p>
     <p>
        <a asp-action="Index" asp-controller="Bestelling" class="btn btn-primary">  Bestelling</a>
    </p>
</div>
