
@model _08_01_InterimKantoor.ViewModels.JobAssignViewModel
@{
	ViewData["Title"] = "Aanmelden";
}
<h2> vacature "@Model.JobOmschrijving"</h2>
<form asp-action="Assign">

    <div class="form-group">
        <input type="hidden" asp-for="@Model.JobId" />
        <input type="hidden" asp-for="@Model.JobOmschrijving" />
        <label asp-for="KlantId" class="control-label">Selecteer een klant:</label>
        <select asp-for="KlantId" class="form-control" asp-items="Model.Klanten"></select>
    </div>
    
    <div><input type="submit" value="Toewijzen" class="btn btn-primary" /></div>
</form>
