@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HelloCore.ViewModels.KlantDeleteViewModel
@{
    ViewData["Titel"] = "Delete";
}
<h1> Delete </h1>
<h4> Are you sure you want to delete @Model.Voornaam @Model.Naam</h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="KlantID" />
    <input type="submit" value="Delete" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary">Back to List</a>

</form>
